.bodyBg {
	background: url(../images/img_bodybg.jpg) no-repeat center bottom fixed;

	// 漢堡按鈕
	.menu_btn {
		position: fixed;
		top: 0;
		left: 0;
		width: 60px;
		height: 60px;
		background: map-get($bg_color, primary);
		border-radius: 3px;
		padding: 0 16px;
		z-index: 1;

		display: none;

		@include mw_xs {
			display: block;
		}

		span {
			position: relative;
			display: block;
			width: 100%;
			height: 2px;
			background: map-get($bg_color, secondary);

			&::before,
			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 2px;
				background: map-get($bg_color, secondary);
				bottom: calc(100% + 6px);
			}

			&::after {
				bottom: auto;
				top: calc(100% + 6px);
			}
		}

		@include hoverHandler {
			span {
				background: map-get($bg_color, lightblack_alpha);

				&::before,
				&::after {
					background: map-get($bg_color, lightblack_alpha);
				}
			}
		}
	}
}

main {
	padding: 56px 0;

	@include mw_xs {
		padding: 24px 0 56px;
	}

	// 開啟對話
	@at-root .--chating main {
		@include d_f(flex, center, 0);
		flex-direction: column;
		padding: 16px 0;
		width: calc(100% - 240px);
		height: 100%;
		margin-left: auto;
        @extend %transition;
		@include mw_xs {
			width: 100%;
		}
	}
}

header {
	@extend %transition;
	width: 100%;
	margin-bottom: 56px;

	h1 {
		@extend %transition;
		width: 80px;
		height: 125px;
		background: url(../images/icon_logo.svg) no-repeat;
		color: transparent;
		margin: auto auto 56px;

		@include mw_xs {
			width: 40px;
			height: 62px;
			margin: auto auto 24px;
		}
	}

	h2 {
		@extend %transition;
		padding: 0 16px;
		color: map-get($txt_color, secondary);
		font-family: "Comfortaa", sans-serif;
		font-size: 32px;
		letter-spacing: 2px;
		text-align: center;
		text-transform: uppercase;

		@include mw_md {
			font-size: 24px;
		}

		@include mw_xs {
			font-size: 16px;
		}
	}

	// 開啟對話
	@at-root .--chating header {
		flex: none;
		margin-bottom: 0;

		h1 {
			width: 40px;
			height: 62px;
		}
	}
}
.chat {
	width: calc(100% - 16px * 2);
	max-width: calc(768px - 16px * 2);
	margin: auto auto 56px;

	// 開啟對話
	@at-root .--chating .chat {
		@include d_f(flex, center, flex-end);
		width: calc(100% - 16px * 2);
		height: calc(100% - 105px - 16px * 2);
		flex-direction: column;
		margin-bottom: 0;
	}

	// .chat__area
	&__area {
		@include scrollbar(hidden, auto);
		width: 100%;
		flex: 1 1 100%;

		display: none;

		// 開啟對話
		@at-root .--chating .chat__area {
			display: block;
		}

		li {
			padding: 16px;
			line-height: 24px;
			margin-bottom: 16px;

			&:nth-child(even) {
				background: map-get($bg_color, lightblack_alpha);
				border-radius: 5px;
				border: 1px solid map-get($bg_color, primary);
				color: map-get($txt_color, secondary);
			}
		}
	}

	// .chat__tool
	&__tool {
		@include d_f(flex, center, space-between);
		width: 100%;
		padding: 8px 16px;
		background: map-get($bg_color, primary);
		border-radius: 5px;
		border: 1px solid transparent;
		box-shadow: 0 0 5px map-get($bg_color, lightblack_alpha);
		margin: auto auto 8px;

		@include hoverHandler {
			border-color: map-get($bg_color, secondary);
		}

		textarea {
			flex: 1 1 100%;
			min-height: 100%;
			line-height: 25px;
		}

		.enter_btn {
			flex: none;
			width: 24px;
			height: 24px;
			background: url(../images/icon_enter.svg) no-repeat right center /
				80%;

			@include hoverHandler {
				filter: brightness(0);
			}
		}
	}

	// .chat__txt
	&__txt {
		display: block;
		font-size: 12px;
		text-align: center;
	}
}

.info {
	@extend %transition;
	@include d_f(flex, 0, space-between);
	flex-wrap: wrap;
	max-width: calc(768px - 16px * 2);
	margin: auto;

	@at-root .--chating .info {
		display: none;
	}

	// .info__box
	&__box {
		position: relative;
		width: calc(100% / 3 - 16px);
		padding: 48px 16px 24px;
		background: map-get($bg_color, white_alpha);
		box-shadow: 0 0 5px map-get($bg_color, lightblack_alpha);
		border-radius: 3px;

		@include mw_xs {
			width: calc(100% - 16px * 2);
			margin: auto auto 56px;
		}
	}

	i {
		@include pos_a(brl, calc(100% - 30px), 0, 0);
		width: 60px;
		height: 60px;
		background-color: map-get($bg_color, primary);
		background-size: 50%;
		border-radius: 60px;
		box-shadow: 0 0 5px map-get($bg_color, lightblack_alpha);
		margin: auto;
	}

	h3 {
		font-size: 20px;
		font-family: "Comfortaa", sans-serif;
		font-weight: bold;
		text-align: center;
		margin-bottom: 16px;
	}

	ul {
		li {
			position: relative;
			padding-left: 16px;
			line-height: 16px;

			&:not(:last-child) {
				margin-bottom: 16px;
			}

			&::before {
				@include pos_a(tbl, 0);
				content: "";
				width: 5px;
				height: 5px;
				background: map-get($bg_color, secondary);
				border-radius: 5px;
				margin: auto;
			}
		}
	}
}

aside {
	@extend %transition;
	@include d_f(flex, center, 0);
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 8px 16px;
	padding-bottom: calc(8px + constant(safe-area-inset-bottom));
	padding-bottom: calc(8px + env(safe-area-inset-bottom));
	background: map-get($bg_color, primary);
	box-shadow: 0 0 5px map-get($bg_color, lightblack_alpha);
	transform: translate3d(0, 0%, 0);
	z-index: 2;

	@at-root .--chating aside {
		animation: asideAni 1s forwards;
		@include mw_xs {
			animation: asideAniXSUnActive 0.3s ease-in-out forwards;
		}
	}
	@include mw_xs {
	}
	@keyframes asideAni {
		0% {
			opacity: 1;
			width: 100%;
			transform: translate3d(0, 0%, 0);
		}
		20% {
			opacity: 0;
			width: 100%;
			transform: translate3d(0, 100%, 0);
		}
		40% {
			opacity: 0;
			width: 240px;
			padding: 0;
			top: 0;
			left: 0;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			transform: translate3d(-100%, 0%, 0);
		}
		100% {
			width: 240px;
			padding: 0;
			top: 0;
			left: 0;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			transform: translate3d(0%, 0%, 0);
		}
	}
	@keyframes asideAniXS {
		0% {
			opacity: 1;
			width: 100%;
			transform: translate3d(0, 0%, 0);
		}
		20% {
			opacity: 0;
			width: 100%;
			transform: translate3d(0, 100%, 0);
		}
		40% {
			opacity: 0;
			width: 240px;
			padding: 0;
			top: 0;
			left: 0;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			transform: translate3d(-100%, 0%, 0);
		}
		100% {
			width: 240px;
			padding: 0;
			top: 0;
			left: 0;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			transform: translate3d(-100%, 0%, 0);
		}
	}
	@keyframes asideAniXSUnActive {
		0% {
			transform: translate3d(0%, 0%, 0);
		}
		100% {
			transform: translate3d(-100%, 0%, 0);
		}
	}
	@keyframes asideAniXSActive {
		0% {
			transform: translate3d(-100%, 0%, 0);
		}
		100% {
			transform: translate3d(0%, 0%, 0);
		}
	}
	@include mw_xs {
		width: 240px;
		height: 100%;
		padding: 0;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		transform: translate3d(-100%, 0, 0);
		animation: asideAniXSUnActive 0.3s ease-in-out forwards;
		@at-root .--active aside {
			animation: asideAniXSActive 0.3s ease-in-out forwards;
			// transform: translate3d(0%, 0, 0);
		}
	}
	.close_btn {
		flex: none;
		width: 32px;
		height: 32px;
		background: url(../images/icon_x.svg) no-repeat center / 16px;
		margin: 8px 8px 0 auto;
		display: none;

		@include mw_xs {
			display: block;
		}

		@include hoverHandler {
			opacity: 0.6;
		}
	}
}

.newChat {
	@include scrollbar(hidden, auto);
	position: static;
	flex: 1 1 100%;
	width: 100%;
	padding: 16px;

	display: none;

	@include mw_xs {
		display: block;
	}

	@at-root .--chating .newChat {
		display: block;
		animation: chatAni 1.5s forwards;
	}
	@keyframes chatAni {
		0% {
			position: absolute;
			top: 100%;
		}
		100% {
			position: relative;
		}
	}
	// .newChat_btn
	&_btn {
		width: 100%;
		height: 32px;
		padding: 8px 16px;
		border-radius: 5px;
		border: 1px solid map-get($bg_color, lightblack_alpha);
		color: map-get($txt_color, primary);

		&::before {
			content: "+";
			font-weight: bold;
			margin-right: 8px;
		}

		@include hoverHandler {
			background: map-get($bg_color, secondary);
			color: map-get($txt_color, white);
		}
	}

	// .newChat__list
	&__list {
		padding: 16px 0;

		li {
			@include d_f(flex, center, 0);
			line-height: 32px;
		}
		span {
			display: block;
			flex: 1 1 100%;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		i {
			@extend %hand;
			flex: none;
			width: 16px;
			height: 16px;

			@include hoverHandler {
				transform: scale(1.1);
				filter: brightness(0);
			}
		}
		i + i {
			margin-left: 5px;
		}
	}
}
.menu {
	@include d_f(flex, center, space-between);
	flex: none;
	width: 100%;
	max-width: calc(768px - 16px * 2);
	padding: 0 16px;
	margin: auto;

	@include mw_xs {
		flex-direction: column;
		padding: 16px;
		border-top: 1px solid map-get($bg_color, lightblack_alpha);
		margin: unset;
	}

	@at-root .--chating .menu {
		// flex-direction: column;
		// padding: 16px;
		// border-top: 1px solid map-get($bg_color, lightblack_alpha);
		// margin: unset;
		animation: menuAni 1.5s forwards;
	}
	@keyframes menuAni {
		0% {
			opacity: 0;
			flex-direction: row;
		}
		100% {
			opacity: 1;
			flex-direction: column;
			padding: 16px;
			border-top: 1px solid map-get($bg_color, lightblack_alpha);
			margin: unset;
		}
	}
	li {
		@extend %hand;
		@include d_f(flex, center, 0);
		line-height: 32px;

		@include mw_xs {
			width: 100%;
		}

		@at-root .--chating li {
			width: 100%;
			animation: menuLiAni 1.5s forwards;
		}

		@keyframes menuLiAni {
			0% {
				width: auto;
			}
			100% {
				width: 100%;
			}
		}

		@include hoverHandler {
			filter: brightness(0);
		}
	}

	i {
		width: 16px;
		height: 16px;
		margin-right: 8px;
	}
}

.loading {
	position: fixed;
	top: 0;
	left: 0;
	@include d_f(flex, center, center);
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 2;
	.loading_pic {
		@include d_f(flex, center, center);
		flex-direction: column;
		margin-right: 16px;
	}
	// .loading_body
	&_body {
		position: relative;
		@include d_f(flex, center, center);
		width: 60px;
		height: 60px;
		animation: loading_body 2s infinite forwards;
		transform-origin: center center;
		transform: rotate(0deg) translate(0px, 0px);
	}
	// .loading_ball
	&_ball {
		position: relative;
		width: 10px;
		margin-bottom: 10px;
		animation: loading_ball 2s infinite forwards;
	}
	// .loading_txt
	&_txt {
		position: relative;
		@include d_f(flex, flex-end);
		width: 135px;
		height: 73px;
		img:nth-child(1) {
			position: absolute;
			animation: loading_txt 2s infinite forwards;
		}
		img:nth-child(2) {
			position: absolute;
			animation: loading_txt1 2s infinite forwards;
		}
	}
}

@keyframes loading_body {
	0% {
		transform: rotate(0);
	}
	33% {
		transform: rotate(120deg) translate(8px, -11px);
	}

	66% {
		transform: rotate(240deg) translate(-7px, -11px);
	}
	99% {
		transform: rotate(360deg) translate(0px, 0px);
	}
	100% {
		transform: rotate(360deg) translate(0px, 0px);
	}
}
@keyframes loading_ball {
	0% {
		transform: translateY(0);
	}
	15% {
		transform: translateY(-15px);
	}
	33% {
		transform: translateY(0);
	}
	45% {
		transform: translateY(-15px);
	}
	66% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(-15px);
	}
	99% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes loading_txt {
	0% {
		transform: translateY(0);
	}
	15% {
		transform: translateY(-10px);
	}
	30% {
		transform: translateY(0);
	}
	45% {
		transform: translateY(-10px);
	}
	60% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(-10px);
	}
	90% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes loading_txt1 {
	0% {
		transform: translateY(0);
	}
	15% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(-10px);
	}
	45% {
		transform: translateY(0);
	}
	60% {
		transform: translateY(-10px);
	}
	75% {
		transform: translateY(0);
	}
	90% {
		transform: translateY(-10px);
		transform: translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}
