.loading {
    position: fixed;
    top: 0;
    left: 0;
    @include d_f(flex, center, center);
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2;

    &.--hide {
        opacity: 0;
        transition: .8s
    }

    .loading_pic {
        @include d_f(flex, center, center);
        flex-direction: column;
        margin-right: 16px;
    }

    // .loading_body
    &_body {
        position: relative;
        @include d_f(flex, center, center);
        width: 60px;
        height: 60px;
        animation: loading_body 2s infinite forwards;
        transform-origin: center center;
        transform: rotate(0deg) translate(0px, 0px);
    }

    // .loading_ball
    &_ball {
        position: relative;
        width: 10px;
        margin-bottom: 10px;
        animation: loading_ball 2s infinite forwards;
    }

    // .loading_txt
    &_txt {
        position: relative;
        @include d_f(flex, flex-end);
        width: 135px;
        height: 73px;

        img:nth-child(1) {
            position: absolute;
            animation: loading_txt 2s infinite forwards;
        }

        img:nth-child(2) {
            position: absolute;
            animation: loading_txt1 2s infinite forwards;
        }
    }
}

@keyframes loading_body {
    0% {
        transform: rotate(0);
    }

    33% {
        transform: rotate(120deg) translate(8px, -11px);
    }

    66% {
        transform: rotate(240deg) translate(-7px, -11px);
    }

    99% {
        transform: rotate(360deg) translate(0px, 0px);
    }

    100% {
        transform: rotate(360deg) translate(0px, 0px);
    }
}

@keyframes loading_ball {
    0% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(-15px);
    }

    33% {
        transform: translateY(0);
    }

    45% {
        transform: translateY(-15px);
    }

    66% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-15px);
    }

    99% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes loading_txt {
    0% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(-10px);
    }

    30% {
        transform: translateY(0);
    }

    45% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-10px);
    }

    90% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes loading_txt1 {
    0% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-10px);
    }

    45% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(-10px);
    }

    75% {
        transform: translateY(0);
    }

    90% {
        transform: translateY(-10px);
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}